.black{
  background-color:black;
}
.black-white{
    background-color: black;
    color:white
  }
.black-red{
    background-color: black;
    color: red;
  }
.black-blue{
    background-color: black;
    color: blue;
  }
.black-purple{
  background-color: black;
  color: purple;
  }
.black-yellow{
  background-color: black;
  color: yellow;
}
.black-violet{
  background-color: black;
  color: violet;
}
.black-green{
  background-color: black;
  color:green;
}
.black-lightblue{ 
  background-color: black;
  color:lightblue;
}
.black-brown{
  background-color: black;
  color:brown;
}
.black-aqua{
  background-color: black;
  color:aqua;
}
.red{
  background-color:red
}
.red-black{
  background-color: red;
  color: black;
}
.red-white{
  background-color: red;
  color:white;
}
.red-blue{
  background-color: red;
  color: blue;
}
.red-purple{
  background-color: red;
  color:purple;  
}
.red-yellow{
  background-color: red;
  color: yellow;
}
.red-violet{
  background-color: red;
  color: violet;
}
.red-green{
  background-color: red;
  color: green;
}
.red-lightblue{
  background-color: red;
  color: lightblue;
}
.red-brown{
  background-color:red;
  color:brown;
}
.red-aqua{
  background-color: red;
  color:aqua;
}
.white-black{
  background-color: white;
  color:black;
}
.white-red{
  background-color: white;
  color: red;
}
.white-blue{
  background-color: white;
  color: blue;
}
.white-purple{
  background-color: red;
  color: purple;
}
.white-yellow{
  background-color: white;
  color:yellow;
}
.white-violet{
  background-color: white;
  color: violet;
}
.white-green{
  background-color: white;
  color: green;
}
.white-lightblue{
  background-color: white;
  color: lightblue;
}
.white-aqua{
  background-color: white;
  color: aqua;
}
.blue-black{
  background-color: blue;
  color: black;
}
.blue-white{
  background-color: blue;
  color: white;
}
.blue-red{
  background-color: blue;
  color: red;
}
.blue-purple{
  background-color: blue;
  color: purple
}
.blue-yellow{
  background-color: blue;
  color: yellow;
}
.blue-violet{
  background-color: blue;
  color: violet;
}
.blue-green{
  background-color: blue;
  color: green;
}
.blue-lightblue{
  background-color: blue;
  color: lightblue
}
.blue-brown{
  background-color: blue;
  color: brown ;
}
.blue-aqua{
  background-color: blue;
  color: aqua;
}